<% provide(:title, "Dashboard") %>

<%= render 'index_sidebar' %>

<div class="row">
  <% if current_user.employer? %>
    <div class="col-md-8">
      <section class="user_info"> <br>
        <h4>Job Posts (<%= current_user.job_posts.count %>)</h4>
        <%= link_to 'Add New', new_job_post_path, class:"btn btn-default btn-sm" %>
        <br><br>
        <% if current_user.job_posts.any? %>
          <ul class="job_posts">
            <%= render current_user.job_posts %>
          </ul>
        <% end %>
      </section><br><br>
    </div>
  <% end %>
</div>
