<% provide(:title, "Dashboard") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Dashboard
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Welcome,
        <%= current_user.name %> <br>
      </h1>
    </section>
  </aside>
</div>

<% if current_user.employer? %>
<!-- JOB POSTS  -->
<div class="row">
<div class="col-md-8">
  <section class="user_info">
    <% if @job_posts.any? %>
      <h4>Job Posts (<%= @job_posts.count %>)</h4>
      <ul class="job_posts">
        <%= render @job_posts %>
      </ul>
    <% end %>
  </section>
</div>
</div>

<%= link_to 'Add New', job_posts_new_path, class:"btn btn-default" %>

<% else %>

<!-- JOB APPLICATIONS  -->
<div class="row">
<div class="col-md-8">
  <section class="user_info">
      <h4>Job Applications</h4>
  </section>
</div>
</div>

<% end %>
