<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <%= render 'show_sidebar' %>
  </aside>
  <div class="col-md-8">
    <%= render 'show_user_profile' %>
    <%= render 'show_reviews' %>
  </div>
</div>
