<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Freelance Jobs!</h1>

  <h2>
    Find the best freelancer that you need. Just click the button below to register.
  </h2>

  <%= link_to "Register", register_path, class: "btn btn-lg btn-default" %>
</div>
