<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8">
    <section class="user_info">
        <h4>User Profile</h4>
          <strong>Name:</strong> <%= @user.name %><br>
          <strong>Company:</strong> <%= @user.company_name %><br>
          <strong>Job Title:</strong> <%= @user.job_title %><br>
          <strong>Location:</strong> <%= @user.location %>
    </section><br>
    <section class="user_info">
        <h4>Reviews</h4>
    </section><br>
  </div>
</div>
