<% provide(:title, @employer.name) %>
<div class="row">
  <div class="col-md-8">
    <section class="user_info">
        <h4>User Profile</h4>
          <strong>Name:</strong> <%= @employer.name %><br>
          <strong>Company:</strong> <%= @employer.company %><br>
          <strong>Job Title:</strong> <%= @employer.job_title %><br>
    </section><br>
    <section class="user_info">
        <h4>Reviews</h4>
    </section><br>
  </div>
</div>
